<!DOCTYPE html>
<html>
<head>
  <title>Meme bot utfpr</title>
  <%= stylesheet_link_tag    "meme_bot_utfpr/application", media: "all" %>
  <%= javascript_include_tag "meme_bot_utfpr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
